/src/*.suo
/src/BusinessRules/bin/**/*
/src/BusinessRules/obj/**/*
/src/DataAccess/bin/**/*
/src/DataAccess/obj/**/*
/src/Entities/bin/**/*
/src/Entities/obj/**/*
/src/UserInterface.Mvc/Bin/**/*
/src/UserInterface.Mvc/obj/**/*
/src/UserInterface.Mvc/Logs/**/*
