*
{
    margin: 0px;
    padding: 0px;
}
html, body
{
    height: 100%;
    overflow: hidden;
}

body
{
    font-family: Arial, Verdana;
    font-size: 11px;
    overflow: hidden;
}

.botao2
{
    padding: 4px;
}
/* * *
 * Formata o cabeçalho
 * * */
#header
{
    /*background: url("../Images/logo_sissmo.jpg") 10px white no-repeat;*/
    clear: both; /*height: 33px;*/
    padding: 0px 0 0px 0;
    position: relative;
    text-align: right;
    z-index: 2000;
    height: 100px;
}

/* ****** *
 * Formata o texto do cabeçalho
 * ****** */
#header span
{
    padding-right: 10px;
}


input[type="text"]
{
    border: solid 1px #eaeaea;
    padding: 3px;
}


table.tableForm td.label
{
    text-align: right;
}

h1
{
    font-size: 22px;
}

tr.contatoTemplate
{
    display: none;
}
p.title
{
    visibility: hidden;
    height: 25px;
}
.ListButton
{
    position: fixed;
    margin: -50px 0 0 325px;
    z-index: 25;
}

.monthpicker .ui-datepicker-calendar
{
    display: none !important;
}

#voce-esta
{
    padding: 3px;
    padding-left: 10px;
    font-weight: bold;
    background: #E8E8E8;
    border-bottom: 2px solid #9C9C9C;
}

#voce-esta a
{
    color: Black;
    text-decoration: none;
}
#voce-esta a:hover
{
    text-decoration: underline;
}

.form-inner
{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.form-inner .align-center
{
    left: 50%;
    position: absolute;
}

.form-inner-margin
{
    padding: 15px;
    display: block;
}

.info-box
{
    padding: 8px;
}
.info-box span
{
    font-weight: bold;
    display: block;
}

.jqButtonNoText
{
    overflow: hidden !important;
}

.no-margin input
{
    margin: 0px;
    padding: 0px;
    width: auto !important;
}

.requerido
{
    background: #FFFACD;
    border: 1px solid #CD5C5C !important;
}

.radiobutton span, .radiobutton input
{
    display: block;
    position: relative;
    float: left;
    height: 23px;
    text-align: center;
}
.radiobutton span
{
    line-height: 20px;
}
.radiobutton input
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

td.columns select option
{
    padding: 0 5px 0 5px;
}
.ui-jqgrid .ui-jqgrid-bdiv
{
    overflow-x: hidden !important;
}

.fieldset-container 
{
    clear: both;
    display: block;
    font-size: 12px;
    border: none;
    border-top: 1px solid black;
    padding-top: 10px;
}