<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      Server=.\SQLEXPRESS;initial catalog=brato;Integrated Security=SSPI
    </property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    
    <property name="current_session_context_class">
      web
    </property>
    <mapping assembly="Brato.DataAccess" />
  </session-factory>
</hibernate-configuration>